.portfolio-simple-footer,
.portfolio-simple-footer * {
  box-sizing: border-box;
}
.portfolio-simple-footer {
  background: #eaeaec;
  height: 2346px;
  position: relative;
  overflow: hidden;
}
.image {
  width: 720px;
  height: 629px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}
.yellow-bg {
  width: 777px;
  height: 877px;
  position: absolute;
  right: -57px;
  bottom: 0px;
  overflow: visible;
}
.image2 {
  height: auto;
  position: absolute;
  right: -57px;
  bottom: 0px;
  overflow: visible;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 103.5px);
  top: 2159px;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ph-instagram-logo-fill {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.bi-linkedin {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 79.17%;
  height: 79.17%;
  position: absolute;
  right: 10.42%;
  left: 10.42%;
  bottom: 10.42%;
  top: 10.42%;
  overflow: visible;
}
.bi-envelope-fill {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.group2 {
  width: 87.5%;
  height: 66.67%;
  position: absolute;
  right: 6.25%;
  left: 6.25%;
  bottom: 16.67%;
  top: 16.67%;
  overflow: visible;
}
.maurya-deepak-kumar-2024 {
  color: var(--font-medium-emphasis, #828282);
  text-align: left;
  font-family: "Nunito-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.header {
  padding: 12px 120px 12px 120px;
  height: 56px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.maurya-deepak-kumar {
  color: var(--font-high-emphasis, #25282b);
  text-align: left;
  font-family: "Comfortaa-Bold", sans-serif;
  font-size: 18px;
  line-height: 180%;
  font-weight: 700;
  position: absolute;
  left: 120px;
  top: 12px;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 120px;
  top: 14px;
}
.tab-default {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sobre {
  color: var(--font-high-emphasis, #25282b);
  text-align: left;
  font-family: var(--body-18px-font-family, "Raleway-Medium", sans-serif);
  font-size: var(--body-18px-font-size, 18px);
  line-height: var(--body-18px-line-height, 28px);
  font-weight: var(--body-18px-font-weight, 500);
  position: relative;
}
.vector-1 {
  width: 0px;
  height: 2349px;
  position: absolute;
  left: 69px;
  top: 0px;
  transform: translate(-1.5px, 0px);
  overflow: visible;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 496px);
  top: 770px;
}
.frame-3351 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: var(--font-high-emphasis, #25282b);
  text-align: center;
  font-family: var(--title-h2-font-family, "PlayfairDisplay-Bold", sans-serif);
  font-size: var(--title-h2-font-size, 48px);
  line-height: var(--title-h2-line-height, 72px);
  font-weight: var(--title-h2-font-weight, 700);
  position: relative;
}
.rectangle-19 {
  background: #00e5ff;
  border-radius: 2px;
  flex-shrink: 0;
  width: 100px;
  height: 4px;
  position: relative;
}
.project-1 {
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 992px;
  height: 524px;
  position: relative;
  box-shadow: 0px 6px 64px 0px rgba(112, 144, 176, 0.1);
  overflow: hidden;
}
.project-nfo {
  background: var(--bg-white, #ffffff);
  flex-shrink: 0;
  width: 496px;
  height: 524px;
  position: relative;
}
.frame-3350 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 81.99%;
  height: 59.73%;
  position: absolute;
  right: 7.84%;
  left: 10.17%;
  bottom: 20.04%;
  top: 20.23%;
}
.text2 {
  color: var(--font-high-emphasis, #25282b);
  text-align: left;
  font-family: "PlayfairDisplay-Bold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.text3 {
  color: var(--font-medium-emphasis, #828282);
  text-align: left;
  font-family: "Nunito-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.pexels-elly-fairytale-3823207-1 {
  flex-shrink: 0;
  width: 496px;
  height: 526px;
  position: relative;
  object-fit: cover;
}
.project-2 {
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 524px;
  position: relative;
  box-shadow: 0px 6px 64px 0px rgba(112, 144, 176, 0.1);
  overflow: hidden;
}
.rectangle-7 {
  flex-shrink: 0;
  width: 496px;
  height: 524px;
  position: relative;
  object-fit: cover;
}
.intro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 486px;
  position: absolute;
  left: 120px;
  top: 110px;
  overflow: hidden;
}
.ui-ux-designer {
  color: #000000;
  text-align: left;
  font-family: "Nunito-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--font-high-emphasis, #25282b);
  text-align: left;
  font-family: var(--title-h1-font-family, "PlayfairDisplay-Bold", sans-serif);
  font-size: var(--title-h1-font-size, 64px);
  line-height: var(--title-h1-line-height, 120%);
  font-weight: var(--title-h1-font-weight, 700);
  position: relative;
  width: 486px;
}
.subheadline {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text4 {
  color: var(--font-medium-emphasis, #828282);
  text-align: left;
  font-family: "Nunito-Regular", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 486px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-primary {
  background: #00e5ff;
  border-radius: 8px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text5 {
  color: var(--font-high-emphasis, #25282b);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.button-secondary {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--bg-line, #25282b);
  border-width: 2px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-11 {
  background: var(--bg-line, #25282b);
  border-radius: 2px;
  width: 215px;
  height: 2px;
  position: absolute;
  left: 122px;
  top: 42px;
}
.bot-o-secud-rio {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--font-high-emphasis, #25282b);
  border-width: 1px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 272.44px;
  top: 1292px;
}
.text6 {
  color: var(--font-high-emphasis, #25282b);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
}
.bot-o-secud-rio2 {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--font-high-emphasis, #25282b);
  border-width: 1px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 772.44px;
  top: 1882px;
}
